<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>gilroyextrabold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location information is required for tracking</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location information is required for tracking</string>
	<key>NSLocationUsageDescription</key>
	<string>Location information is required for tracking</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location information is required for tracking</string>
	<key>NSMotionUsageDescription</key>
	<string>Tripi uses motion data from your device to automatically detect and log your trips</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
</dict>
</plist>
